doctype html
html
	head
	body
		h1#productTitle Product Title!
		p.product-description Product description #0001
		p.product-description Product description #0001
		p.product-description Product description #0001

		#newsLetterDrop
		.footer