mixin comment(commentData)
  .comment
    if commentData.postedByAdmin
      em (Posted by Admin)
    .date= commentData.date
    .author= commentData.author
    .text= commentData.text

doctype html
html
  head
    title Mixins in Pug
    style.
      .comment {
        font-family: sans-serif;
        line-height: 1.5;
        padding: 10px;
        border: 1px solid #555;
        width: 250px;
      }

      .date { font-size: 85%; text-align: right; }
      .author { font-size: 110%; font-weight: bold; }
      .text { font-size: 100%; }
  body
    - const c = { postedByAdmin: true, date: '16-06-2020', author: 'VictorL', text: 'Nice topic!' }
    +comment(c)
    - const c_2 = { date: '19-06-2020', author: 'Anonymous user', text: 'Hi, Im new here' }
    +comment(c_2)