doctype html
html
  head
  body
    h1 Learning Pug!
		
    p This is a paragraph tag
      and this is a new line
    
    p. 
      Second paragraph
      New Line
    ul
      li List item #1
      li List item #2
      li List item #3